name: My first GitHub Action
on: [push]
jobs:
    buildApp:
        runs-on: ubuntu-latest
        output:
            text: ${{ steps.finished.outputs.text }}
        env:
            VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
            VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
            VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: 14
            - name: Install node_modules
              run: yarn
            - name: Build the Project
              run: yarn build
            - name: Sets the vercel env
              run: |
                cd build
                mkdir .vercel
                cd .vercel
                touch project.json
                echo "{\"projectId\":\"$VERCEL_PROJECT_ID\",\"orgId\":\"$VERCEL_ORG_ID\"}" > project.json
            - name: Deploying the project
              run: yarn deploy
            - name: Setup Finish
              id: finsihed
              run: echo "::set-output name=text::hello-world-frombuild-job"
    test-app:
        needs: buildApp
        runs-on: ubuntu-latest
        env:
            MY_JOB_OUTPUT: ${{ needs.buildApp.outputs.text }}
        steps:
            - run: echo $MY_JOB_OUTPUT