name: My first GitHub Action
on: [push]
jobs:
    print-hello-world:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World!!!"
            - run: echo "this is step number 2"
    print-hello-world2:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World!!!"
            - run: echo "this is step number 2"