name: My first GitHub Action
on: [push]
jobs:
    build-app:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: 14
            - name: Install node_modules
              run: yarn
            - name: Build the Project
              run: yarn build
            - name: Setup Finish
              run: echo "Hurray!!!!"
