name: My first GitHub Action
on: [push]
jobs:
    build-app:
        runs-on: ubuntu-latest
        env:
            VERCEL_TOKEN_ID: ${{ secrets.VERCEL_TOKEN_ID }}
            VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
            VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                node-version: 14
            - name: Install node_modules
              run: yarn
            - name: Build the Project
              run: yarn build
            - name: Sets the vercel env
              run: |
                cd build
                mkdir .vercel
                cd .vercel
                touch project.json
                echo "{\"projectId\":\"$VERCEL_PROJECT_ID\",\"orgId\":\"$VERCEL_ORG_ID\"}" > project.json
            - name: Deploying the project
              run: yarn deploy
            - name: Setup Finish
              run: echo "Hurray!!!!"
